* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
