.admin-layout-container {
  .main-container {
    margin-left: 300px;

    & .body {
      margin-top: 90px;
    }
  }
}

@media (max-width: 960px) {
  .admin-layout-container {
    width: 100%;

    & .main-container {
      margin-left: 0;
    }
  }
}
